@import "./assets/css/css-variables.css";

body {
  font-family: "Averia Serif Libre", cursive !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #6c757d !important;
  text-align: left !important;
  background-color: #131921 !important;

  label {
    font-weight: 600;
  }

  .h5 {
    color: #4b4b5a;
  }

  .text-logo {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--THEME-TEXT-COLOR);
  }

  .input-group-text {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4b4b5a;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid #e2e7f1;
    border-radius: 0.3rem;

    .icon-dual {
      color: #6c757d;
      fill: rgba(108, 117, 125, 0.12);
    }
  }

  .auth-page-sidebar {
    background-image: url(./assets/img/banner.png);
    margin: 50px 55px 0px 0px;
    padding: 0;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    position: relative;

    .auth-user-testimonial {
      text-align: center;
      color: black;
      position: absolute;
      margin: 0 auto;
      padding: 0 1.75rem;
      bottom: 3rem;
      left: 0;
      right: 0;
    }
  }

  .navbar-custom {
    margin-bottom: 5px;
    background-color: #29303b;
    padding: 0.5rem 1.5rem;

    .navbar-brand,
    .nav-link {
      color: aliceblue;
      font-size: larger;
      font-weight: 500;
    }
    // height: 70px;
  }

  .error {
    color: red;
  }

  .thumbs {
    text-align: center;
    padding: 0px;
  }

  .carousel-status {
    visibility: hidden;
  }
  .product-by-category-heading {
    color: white;
    text-align: center;
    font-size: 4rem;
    margin: 0;
  }
  .product-image {
    height: 300px;
  }
  .product-name {
    color: black;
    font-weight: bold;
    font-size: 2.3rem;
    margin: 0;
  }
  .product-author {
    font-size: 1.2rem;
    margin-bottom: 7px;
  }
  .product-price {
    font-size: 1.7rem;
    color: black;
    margin-top: 4px;
  }
  .product-decription {
    text-align: justify;
    color: black;
    font-size: 1rem;
  }
  .product-description-heading {
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .read-more-button {
    color: #6c757d;
  }
  .rangeslider__fill {
    background-color: var(--THEME-TEXT-COLOR) !important;
  }
  .rangeslider-horizontal {
    height: 7px;
  }

  .filter-heading {
    color: white;
    margin: 0;
    text-align: center;
  }
}
